---
layout: layouts/home.njk
title: Arsip Blog
permalink: /posts/
eleventyNavigation:
  key: Arsip Blog
  order: 2
---

<h1 class="tittle">Arsip Blog</h1>
{% set postslist = collections.posts %}
{% include "postlistarchive.njk" %}
