---
layout: layouts/home.njk
title: Arsip Blog
permalink: /posts/
eleventyNavigation:
  key: Arsip Blog
  order: 2
---
{% set maxPosts = collections.posts.length | min(1000) %}
<h1 class="tittle">Arsip Blog {% if maxPosts == 1 %}{% else %}({{ maxPosts }}){% endif %}</h1>
{% set postslist = collections.posts %}{% include "postlistarchive.njk" %}
