---
layout: layouts/postclear.njk
title: Arsip Blog
permalink: /posts/
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: Arsip Blog
  order: 2
---
{% set maxPosts = collections.posts.length | min(1000) %}
<h1 class="tittle">Arsip Blog {% if maxPosts == 1 %}{% else %}({{ maxPosts }}){% endif %}</h1>{% set postslist = collections.posts %}
<ul class="postlist">
{% for year, yearPosts in collections.postsByYear %}
<li class="postlist-item">
<h3>{{ year }}</h3>
  <ul>
    {% for post in yearPosts | reverse %}
      <li><a href="{{ post.url | url }}" title="{{ post.data.title }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></li>
    {% endfor %}
  </ul>
  </li>
{% endfor %}
</ul>
