---
layout: layouts/home.njk
title: Blog
eleventyNavigation:
  key: Blog
  order: 1
---
<h2 class="tittle">Ook Rahmawan</h2>
{% set postslist = collections.posts | head(-900) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
