---
layout: layouts/home.njk
title: Blog
eleventyNavigation:
  key: Blog
  order: 1
---
<h2 class="tittle">Ook Rahmawan</h2>
{% set postslist = collections.posts | head(-2) %}{% include "postslist.njk" %}
{% set postslist = collections.posts | head(2) %}{% include "postslistlite.njk" %}
