---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow: 
Disallow: /404
Disallow: /tags
Disallow: /tags-list
Disallow: /page-list
Disallow: /greentown
Sitemap: https://ook.web.id/sitemap.xml
