---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: 
Disallow: /404
Disallow: /tags
Disallow: /tags-list
Disallow: /page-list
Sitemap: https://ookrahmawan.xyz/sitemap.xml
