<!doctype html>
<html lang="id">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title or renderData.title or metadata.title }} - {{ metadata.title }}</title>
<meta name="description" content="{{ description or renderData.description or metadata.description }}" />
<link rel="canonical" href="{{ metadata.url or page.url }}" />
<meta name="robots" content="index, follow" />
<link rel="stylesheet" href="{{ '/css/index.css' | url }}">
<link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
<link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
<link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ "/img/logo/favicon.ico" | url }}" />
<link rel="apple-touch-icon" href="{{ "/img/logo/apple-touch-icon.png" | url }}" />
<meta property="og:title" content="{{ title or renderData.title or metadata.title }} - {{ metadata.title }}" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:description" content="{{ description or renderData.description or metadata.description }}" />
<meta property="og:image" content="{{ "/img/logo/android-chrome-192x192.png" | url }}" />
<meta property="og:type" content="article" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@oklogic" />
<meta name="twitter:title" content="{{ title or renderData.title or metadata.title }} - {{ metadata.title }}" />
<meta name="twitter:description" content="{{ description or renderData.description or metadata.description }}" />
<meta name="twitter:image" content="{{ "/img/logo/android-chrome-512x512.png" | url }}" />
<meta name="theme-color" content="#1C6DD0">
</head>
<body>
<header>
<h1 class="home"><a href="{{ '/' | url }}" title="Beranda">{{ metadata.logo }}</a></h1>
<ul class="nav"><li class="nav-item"><a href="{{ '/feed/feed.xml' | url }}" title="Umpan Web">RSS</a></li></ul>
</header>
<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>{{ content | safe }}</main>
<footer>
<ul><li><a href="{{ '/' | url }}" title="Beranda">{{ metadata.title }}</a></li><li><a href="mailto:ooksurel@gmail.com" title="Kontak">Kontak</a></li>
</ul>
</footer>
</body>
</html>
